
.container {
    background-color: #ffffff;
    max-width: 335px;
    margin: 0 auto;
}

.innr__text {
    margin: 64px 0 15px 12px;
    min-width: 302px;
}

.create__account__btn.active{
    cursor: pointer;
    background: #C8FA60;
}

.innr__h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.innr__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 16px;
}

.register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.form__name {
    min-width: 335px;
    background: #F9F9FE;
    padding: 15px 12px 14px 12px;
    height: 60px;
    border: #F9F9FE;
    outline: none;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #212D3F;
}

.form__name:focus {
    border: 1px solid #BFBFBF;
}

.form__name::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.form__email {
    min-width: 335px;
    background: #F9F9FE;
    padding: 15px 12px 14px 12px;
    height: 60px;
    border: #F9F9FE;
    outline: none;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #212D3F;
}

.form__email:focus {
    border: 1px solid #BFBFBF;
    background: #F9F9FE;

}

.form__email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.form__password {
    min-width: 335px;
    background: #F9F9FE;
    padding: 15px 12px 14px 12px;
    height: 60px;
    border: #F9F9FE;
    outline: none;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #212D3F;
}

.form__password:focus {
    border: 1px solid #BFBFBF;
    background: #F9F9FE;
}

.form__password::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.agreement {
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
}

/* .label {

} */

.checkbox{
    /* appearance: none; */
    width: 24px;
    height: 14px;
    margin-top: 4px;
    background: #E5E4E3;
    border-radius: 4px;
    cursor: pointer;
}
/*
.checkbox::after {
    content: ' ';
    background: #E5E4E3;
    border: 2px solid #B0DB01;
    border-radius: 4px;
    padding: 0px 6px;

} */

.agreement__text {
    margin-left: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #8A8A8E;
}

.underline {
    text-decoration: underline;
}

.create__account__btn {
    margin-top: 14px;
    background: #D9D9D9;
    border-radius: 30px;
    border: none;
    width: 335px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.create__account {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.login {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 5px;
}

.accept{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
