.container {
    background-color: #ffffff;
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    padding: 30px 20px;
}

.green {
    position: absolute;
    top: -50px;
    right: 0px;
    width: 80px;
}

.failLoginModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.closeModal{
    padding: 10px 15px;
    border-radius: 10px;
    color: #8c4545;
}

.welcome__text {
    margin: 102px 0 16px 15px;
    width: 302px;
    position: relative;
}

.lines {
    position: absolute;
    right: 45px;
}

.welcome__h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    max-width: 229px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.email {
    background: #F9F9FE;
    padding: 15px 12px 14px 12px;
    height: 60px;
    border: #F9F9FE;
    outline: none;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #212D3F;
}

.email:focus {
    border: 1px solid #BFBFBF;
}

.email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.password {
    background: #F9F9FE;
    padding: 15px 12px 14px 12px;
    height: 60px;
    border: #F9F9FE;
    outline: none;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #212D3F;
}

.password:focus {
    border: 1px solid #BFBFBF;
}

.password::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.forget__password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 16px 2px 15px;
}

.forget__password__a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.1;
}

.enter__btn {
    background: #D9D9D9;
    border-radius: 30px;
    border: none;
    max-width: 335px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
}

.create__account {
    display: flex;
    align-items: self-start;
    margin: 30px 0 76px;
}

.create__account__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-right: 5px;
}

.create__account__a {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.login__via {
    display: flex;
    justify-content: center;
    position: relative;
}

.login__via__a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.login__via__a:before {
    content:" ";
    display: block;
    height: 1px;
    width: 89px;
    position: absolute;
    top: 90%;
    left: 0;
    background: #BFBFBF;
}

.login__via__a::after {
    content:" ";
    display: block;
    height: 1px;
    width: 89px;
    position: absolute;
    top: 90%;
    right: 0;
    background: #BFBFBF;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.facebook {
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 14px;
    padding: 12px 10px;
}

.fb__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 9px;
}

.google {
    width: 158px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 14px;
    padding: 12px 10px;
}

.gg__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 6px;
}
