.booking{
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    height: 100vh;
    padding: 25px 20px;
}

.container{
    max-width: 480px;
}

.container h2{
    margin-bottom: 10px;
}

.calendar{
    border: 1px solid black;
    border-radius: 10px;
    margin: 22px auto;
}
.timeslots{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.description{
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 4px 7px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.description:focus {
    outline: none !important;
    border:1px solid #C8FA60;
    box-shadow: 0 0 10px #C8FA60;
}

.submit{
    width: 100%;
    padding: 18px 17px;
    font-size: 1.5rem;
    border-radius: 10px;
}


