.enrolls{
    display: flex;
    justify-content: center;
    border: 1px solid #212D3F;
    margin: 10px 5px;
    padding: 10px 0;
    background-color: rgba(205, 249, 114, 0.44);
}

.enrolls .container{
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    color: #212D3F;
}

.enrolls .container img{
    width: 110px;
    height: 110px;
}

.enrolls .container h1{
    margin: 0;
}

.enrolls .container h2{
    font-size: 1.2rem;

}
.enrolls .container h3{
    font-size: 1rem;

}

.time{
    position: absolute;
    bottom: 0;
    right: 0;
}
